/*Element Styles
==============================*/
* {
  box-sizing: border-box;
}

body {
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: #fff
}


/*Layout Containers
==============================*/
.container {
  padding-left: 1em;
  padding-right: 1em;
}


.main-header {
  background-color: #3acec2;
}

.main-footer {
  text-align: center;
  background-color: #d9e4ea;
  padding: 2em 0;
}

/*Nav Styles
==============================*/
.name {
  margin: 0;
}

/*Media Queries
==============================*/
@media (min-width: 769px) {
  .wrap {
    min-height: calc(100vh - 89px);
  }

  .container {
    width: 70%;
    max-width: 1000px;
    margin: 0 auto;
  }
}
