/*Element Styles
==============================*/
* {
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  font-family: 'Itim', sans-serif;
}

a {
  text-decoration: none;
}

/*Nav Styles
==============================*/
.name {
  font-size: 1.25em;
}

.name,
.main-nav li {
  text-align: center;
  background-color: #fff;
  margin-top: 6px;
  margin-bottom: 6px;
}
.main-nav a {
  color: #3acec2;
  text-transform: uppercase;
}

.name a,
.main-nav a {
  padding: 10px 15px;
  display: block;
}
.main-nav a:hover {
  color: #093a58;
}

/*Layout Containers
==============================*/
.container {
  padding-left: 1em;
  padding-right: 1em;
}

.pic-header {
  text-align: center;
  padding: 1.5em 0;
  color: #fff;
  background-color: #3acec2;
  margin-bottom: 30px;
}
.building-pic {
  border-radius: 50%;
}

.main-footer {
  text-align: center;
  background-color: #d9e4ea;
  padding: 1em 0;
}
.feat-img {
  width: 250px;
  height: 250px;
  margin: 5px 25px 15px 5px;
  padding: 10px;
  border: 1px solid #d3d3d3;
}
.secondar-col {
  position: relative;
}
#img-wrapper {
  height: 350px;
}
#img-wrapper .text {
  position: relative;
  bottom: 75px;
  left: 20px;
  visibility: hidden;
}
#img-wrapper:hover .text {
  visibility: visible;
}
.feat-img:hover {
  opacity: .3;
}

/*Media Queries
==============================*/
@media (min-width: 769px) {
  body {
    padding-top: 64px;
  }
  .main-header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(0,0,0,.4);
  }
  .wrap {
    min-height: calc(100vh - 89px);
  }
  .container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
  }
  .col {
    display: inline-block;
    width: 33%;
    margin-right: -4px;
    vertical-align: top;
    padding: 0 1em;
  }
  .name,
  .main-nav li {
    display: inline-block;
  }
  .main-nav {
    float: right;
  }
}
@media (min-width: 1025px){
  .container {
    width: 80%;
    max-width: 1100px;
  }
  .secondary {
    width: 40%;
  }
  .primary,
  .tertiary {
    width: 30%;
  }
  .feat-img {
    width: 350px;
    height: 325px;
  }
}
