/*Element Styles
==============================*/
* {
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  font-family: 'Itim', sans-serif;
}

a {
  text-decoration: none;
}

/*Nav Styles
==============================*/
.name {
  font-size: 1.25em;
}

.name,
.main-nav li {
  text-align: center;
  background-color: #fff;
  margin-top: 6px;
  margin-bottom: 6px;
}
.main-nav a {
  color: #3acec2;
  text-transform: uppercase;
}

.name a,
.main-nav a {
  padding: 10px 15px;
  display: block;
}
.main-nav a:hover {
  color: #093a58;
}
.selected {
  text-decoration: underline;
}
.main-header {
  z-index: 10;
}

/*Layout Containers
==============================*/
.container {
  padding-left: 1em;
  padding-right: 1em;
}

.pic-header {
  text-align: center;
  padding: 1.5em 0;
  color: #fff;
  background-color: #3acec2;
  margin-bottom: 30px;
}
.building-pic {
  border-radius: 50%;
}

.main-footer {
  text-align: center;
  background-color: #d9e4ea;
  padding: 1em 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;
  /*margin-top: 100px;*/
}
.feat-img {
  width: 250px;
  height: 250px;
  margin: 5px 25px 15px 5px;
  padding: 10px;
  border: 1px solid #d3d3d3;
}
.secondar-col {
  position: relative;
}
#img-wrapper {
  height: 350px;
}
#img-wrapper .text {
  position: relative;
  bottom: 75px;
  left: 20px;
  visibility: hidden;
}
#img-wrapper:hover .text {
  visibility: visible;
}
.feat-img:hover {
  opacity: .3;
}
.warning {
  border: 5px solid #e1dfbe;
  width: 200px;
  margin: 100px auto 20px;
  border-radius: 5px;
  padding: 20px 10px;
  text-align: center;
  font-size: 32px
}
/*Cookies Page Styles
==============================*/
.cookies {
  border: 5px solid #e1dfbe;
  width: 30%;
  margin: 50px auto 20px;
  border-radius: 5px;
  padding: 10px 5px;
  text-align: center;
  font-size: 32px;
}
#box {
  width: 200px;
  height: 100px;
  display: none;
  background-color: lightblue;
  margin: 50px auto 20px;
}
.c-wrapper {
  margin-left: 30%;
  margin-bottom: 100px;
}
.c-cookie {
  position: relative;
  height: 225px;
  width: 225px;
  transition: all 2s ease;
  border-radius: 100%;
  z-index: 5;
}
.s-cookie {
  position: relative;
  height: 205px;
  width: 215px;
  transition: all 2s ease;
  border-radius: 100%;
  z-index: 5;
}
.m-cookie {
  position: relative;
  height: 205px;
  width: 245px;
  transition: all 2s ease;
  border-radius: 100%;
  z-index: 5;
}
.d-cookie {
  position: relative;
  transition: all 2s ease;
  border-radius: 100%;
  z-index: 5;
}
.rotate-r {
  transform: translateX(250px) rotate(180deg);
}
.rotate-l {
  transform: translateX(-250px) rotate(-180deg);
}
.c-recipe {
  position: absolute;
  top: 480px;
  font-size: .8em;
  padding: 10px;
  text-align: center;
}
.d-recipe {
  position: absolute;
  top: 480px;
  right: 490px;
  font-size: .8em;
  padding: 10px;
  text-align: center;
}
.m-recipe {
  position: absolute;
  top: 675px;
  font-size: .8em;
  padding: 10px;
  text-align: center;
}
.s-recipe {
  position: absolute;
  top: 675px;
  right: 490px;
  font-size: .8em;
  padding: 10px;
  text-align: center;
}

/*Doughnuts Page
==============================*/
.dnt-header {
  border: 5px solid #e1dfbe;
  width: 30%;
  margin: 50px auto 0px;
  border-radius: 5px;
  padding: 10px 5px;
  text-align: center;
  font-size: 32px;
}
.dnt-img1 {
  height: 80px;
  width: 350px;
  display: block;
  margin: 0 auto;
  top: -100px;
}

form {
  display: block;
  position: relative;
  max-width: 300px;
  left: 450px;
}

input,
textarea {
  display: block;
  background-color: #e8eeef;
  padding: 2px;
  margin-top: 8px;
}
button {
  display: block;
  margin-top: 5px;
  background-color: #00c957;
}

.green {
  background-color: #bced91;
}

.s-submitted {
  text-align: center;
  background-color: #00c957;
  width: 155px;
  padding: 2px;
  border: 1px solid black;
}

.tiny-dnt {
  height: 7%;
  width: 7%;
  position: relative;
  transition: all 2s ease;
  border-radius: 100%;
  left: 400px;
}
.mv-dnt {
  transform: translateX(450px) rotate(360deg);
}
.temp {
  display: none;
  margin-bottom: 100px;
  text-align: center;
}

/*Ice Cream Page
==============================*/
ul li {
  display: inline-block;
  background-color: #00c957;
  padding: 8px;
  margin: 10px;
}

.icm-wrapper {
  margin-bottom: 100px;
}
/*Media Queries
==============================*/
@media (min-width: 769px) {
  body {
    padding-top: 64px;
  }
  .main-header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(0,0,0,.4);
  }
  .wrap {
    min-height: calc(100vh - 89px);
  }
  .container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
  }
  .col {
    display: inline-block;
    width: 33%;
    margin-right: -4px;
    vertical-align: top;
    padding: 0 1em;
  }
  .name,
  .main-nav li {
    display: inline-block;
  }
  .main-nav {
    float: right;
  }
}
@media (min-width: 1025px){
  .container {
    width: 80%;
    max-width: 1100px;
  }
  .secondary {
    width: 40%;
  }
  .primary,
  .tertiary {
    width: 30%;
  }
  .feat-img {
    width: 350px;
    height: 325px;
  }
}
